body {
	overflow: hidden; /* Hide scrollbars */
}

.center{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 50vw;
	height: 100vh;
	margin: auto;
	justify-content: center;
	padding: 0px;
}

.cover_image{
	width: 25vw;
}

p{
	font-family: 'Roboto', sans-serif;
	font-size: 30pt;
	font-weight: bold;
}

.partner_logo{
	height: 5vh;
}

.partners{
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin-top: 1rem;
}
